<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Liczba punktów</th>
                <th>Początek podróży</th>
                <th>Koniec podróży</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trip in trips" ng-click="getDetails(trip.id)">
                <td>{{trip.name}}</td>
                <td>{{trip.description}}</td>
                <td>{{trip.points.length}}</td>
                <td>{{trip.startDate}}</td>
                <td>{{trip.endDate}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-6">Fomularz dodawania nowej wycieczki</div>
    <p>Plik</p>
</div>