<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Liczba punktów</th>
                <th>Początek podróży</th>
                <th>Koniec podróży</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trip in trips" ng-click="getDetails(trip.id)">
                <td>{{trip.name}}</td>
                <td>{{trip.description}}</td>
                <td>{{trip.points.length}}</td>
                <td>{{trip.startDate}}</td>
                <td>{{trip.endDate}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <div class="row">
            <h2 class="text-center">Dodaj nową podróż</h2>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Nazwa</label>
                <input type="text" ng-model="name">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="" ng-model="description">Opis</label>
                <input type="text" ng-model="description">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Punkty</label>
                <textarea name="" id="points" cols="17" rows="2" ng-model="points"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Media</label>
                <textarea name="" id="media" cols="17" rows="2" ng-model="media"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Plakat</label>
                <input type="text" ng-model="poster">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Prezentacja</label>
                <input type="text" ng-model="presentation">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Początek podróży</label>
                <input type="date" ng-model="start-date">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="">Koniec podróży</label>
                <input type="date" ng-model="end-date">
            </div>
            <div class="col-sm-8 pull-left text-right">
                <button type="submit" class="btn btn-default">Dodaj podróż</button>
            </div>
        </form>
    </div>
    <h4>Wycieczka {{name}}</h4>
</div>
