<div class="row">
    <div class="col-md-12">
        <ng-map id="map" center='current-position' zoom="10"></ng-map>
    </div>
    <!--<div class="col-md-12">Galeria zdjęć</div>-->
    <div class="col-md-12 m-t">
        <button type="button" class="btn btn-danger pull-right" ng-click="removeTrip()">Usuń wycieczkę</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="point in trip.points">
                <td>{{point.elevation}}</td>
                <td>{{point.timestamp}}</td>
                <td>{{point}}</td>
                <td>
                    <a class="btn btn-link" ng-click="removePoint(point.id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">{{trip}}</div>
</div>