<div class="row">
    <div class="col-md-12">
        <div>{{trip}}</div>
        <div>{{center}}</div>
    </div>
    <div class="col-md-12">
        <ng-map id="map" center="{{center}}" zoom="10" on-click="addPoint()">
            <marker ng-repeat="point in trip.points"
                    position="[{{point.latitude}}, {{point.longtitude}}]"
                    on-click="removeMarker(point.id)"
            ></marker>
            <directions ng-if="trip.points.length>1"
                        draggable="true"
                        panel="directions-panel"
                        origin="{{start.latitude}}, {{start.longtitude}}"
                        destination="{{end.latitude}}, {{end.longtitude}}"
                        waypoints="{{theWaypoints}}"
                        suppress-markers="true">
            </directions>
        </ng-map>
    </div>
    <!--<div class="col-md-12">Galeria zdjęć</div>-->
    <div class="col-md-12 m-t">
        <button type="button" class="btn btn-danger pull-right" ng-click="removeTrip()">Usuń wycieczkę</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lp</th>
                <th>Data</th>
                <th>Współrzędne</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="point in trip.points | orderBy:'timestamp'">
                <td>{{point.id}}</td>
                <td>{{point.timestamp}}</td>
                <td><span class="nowrap">&Phi; {{point.latitude}}</span> <span class="nowrap">&lambda; {{point.longtitude}}</span></td>
                <td>{{point}}</td>
                <td>
                    <a class="btn btn-link" ng-click="removePoint(point.id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">{{trip}}</div>
</div>